codegen/lib/*
!codegen/lib/ant-colorizor.jar

codegen/codegen-*.properties

*.class

#general files in all extensions
extensioninfo.xsd
build.xml
gensrc
classes
eclipsebin
*-testclasses.xml
.settings
.project
.externalToolBuilders
platformhome.properties
